html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  background-color: #fff;
}

img,
svg {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1870px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset-btn {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.reset-title {
  margin: 0;
  padding: 0;
}

.reset-text {
  margin: 0;
  padding: 0;
}

.second-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  border-radius: 16px;
  color: #FFF;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 25px 39px;
  background-color: var(--orange);
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--light-orange);
  outline: 0;
}

.btn:active {
  background-color: var(--darck-orang);
}

.lp-title{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.main{
  padding: 50px 0;
}

@media (max-width: 1280px){
  .main{
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .main{
    padding: 22px 0;
  }
}
